@{
    Layout = "~/views/shared/_Layout1.cshtml";
    ViewData["Title"] = "About";
    ViewData["Description"] = "This is the about page";
}
<p>This is the main website content!!</p>

@section sidebar{
    <ul>
        <li>Coffee</li>
        <li>Tea</li>
        <li>Milk</li>
    </ul>
}